*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg-primary: #fff;
  --color-bg-second: #dbcdeb;
  --color-bg-third: #eee0f5;
  --color-text-primary: #222;
  --color-text-second: #4e3e57;
  --color-text-third: #64526B;
  --color-accent-1: #ee0;
  --color-accent-2: #6f47a1;
  --color-accent-3: rgb(140, 89, 203);
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  /* font-size: 1.2rem; */
}

nav {
  background-color: var(--color-bg-second);
  position: relative;
  /* border-bottom: 5px solid var(--color-text-third); */
  box-shadow: 0 2px 5px 5px var(--color-text-third);
}

#nav-wrapper {
  /* background-color: pink; */
  position: sticky;
  height: min-content;
  padding: 1rem;
  top: 0;
}

h1 {
  font-size: 1.5rem;
  color: var(--color-text-second);
  margin-bottom: 1rem;
  border-bottom: 6px solid var(--color-accent-3);
}

nav ul {
  list-style-type: none;
  font-size: 1.3rem;
}

nav li {
  margin-top: 0.5rem;
  border-bottom: 2px solid transparent;
}

nav li:hover, nav li:active {
  border-bottom: 2px solid var(--color-text-third);
}

nav a, nav a:visited {
  text-decoration: none;
  color: var(--color-text-second);
  border-bottom: 2px solid var(--color-text-third);
}

main {
  padding: 1.5rem;
}

section {
  margin-bottom: 4rem;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  border-bottom: 4px solid var(--color-accent-3);
  color: var(--color-text-second);
}

h3, h4 {
  color: var(--color-text-third);
}

h3 {
  font-size: 1.8rem;
  margin: 2rem 0 1.2rem;

}

h4 {
  font-size: 1.5rem;
  margin: 0.8rem 0;
}

p {
  margin-bottom: 1rem;
}

a {
  color: var(--color-accent-2);
}

a:active {
  color: var(--color-accent-3);
}

a:visited {
  color: var(--color-text-third);
}

aside {
  background-color: var(--color-bg-second);
  margin: 1.5rem;
  padding: 0.5rem;
  border: 2px dotted var(--color-text-third);
}

main ul, main ol {
  margin-bottom: 1rem;
}

main li {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

code {
  background-color: var(--color-bg-third);
  padding: 0.1rem;
  border-radius: 0.2rem;
  white-space: nowrap;
}

pre {
  background-color: var(--color-bg-third);
  box-shadow: 2px 2px 5px var(--color-text-third);
}

footer {
  /* border-top: 3px solid var(--color-accent-3); */
  background-color: var(--color-bg-second);
  padding: 1rem;
  box-shadow: 0 -2px 5px var(--color-text-third);
}

footer p {
  text-align: center;
  font-size: 0.8rem;
  margin: 0.3rem;
}

/***** media query for desktop *****/

@media (min-width: 600px) {
  body {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
  }

  nav {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    position: sticky;
    border-right: 3px solid var(--color-text-third);
    text-align: right;
    box-shadow: none;
  }

  main {
    grid-column: 2 / 3;
    padding: 2.5rem;
  }

  main li {
    margin-left: 2rem;
  }

  footer {
    grid-column: 2 / 3;
  }
}